/* Підключення шрифтів */
body {
  font-family: 'Montserrat', sans-serif;
	background-color: #1E2939;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
	width: 100%;
}
@media (max-width: 768px) {
	.main {
		display: block;
	}
	.sidebar {
		display: block;
	}
	.sidebar-row {
		display: inline-block;
	}
}
@media (max-width: 601px) {
	.main {
		display: block;
	}

	.sidebar {
		display: block;
	}

	.sidebar-row {
		display: block;
	}
}
/* main-content styles */
.main-content {
  background: #FFFFFF;
  padding: 85px 50px;
}
/* abouth styles */
.abouth {
  margin-bottom: 20px;
}
.abouth-position {  
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: black;
  margin-bottom: 20px;
}
.abouth-name {  
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 130%;  
  color: black;
  margin-bottom: 25px;
}
.abouth-description {  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: black;
  padding-left: 0px;
  margin-left: 17px;
	margin-bottom: 40px;
}
.abouth-item {
  color:#8E949C;
	margin-bottom: 8px;
}
.abouth-txt {
  color: black;  
}
/* project styles */
.projects {
  margin-bottom: 40px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
	margin-bottom: 6px;
}
.project-list {
  padding: 0;
  margin-left: 25px;
}
.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  color: black;
}
.project:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: red;
}
.project-link {
  margin-left: 10px;
  color: red;
}

/* work styles */
.work {
  margin-bottom: 40px;
}
.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 10px;
}
.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;  
  color: red;
}
.period {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color:#8E949C;
	margin: 0px 0px 8px;
}
.work-list {
  margin: 0px 0px 17px;
}
.work-item {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 130%;
	margin-bottom: 7px;
	color: #595959;
}
/* education styles */
.education {}
/* sidebar styles */
.sidebar {
	box-sizing: border-box;
  background-color: #1E2939;
  margin: 40px 40px;
}
.photo {
  padding-top: 40px;
  width: 300px;
}
.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}
.contacts {
  margin-bottom: 50px;
}
.tech-skills {
  margin-bottom: 30px;
}
.sidebar-title {
  color:#fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 165%;
  margin-bottom: 10px;
}
.contact-type {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 180%;
  margin-right: 10px;
}
.contact-link {
  color: #8E949C;

}
.skills-list {
  color: #fff;
  padding-left: 0px;
  margin-left: 17px;  
}
.skills-item {
  color: orange;
}
.skills-txt {
  color: #fff;
  padding-left: 0px;
  margin-left: 17px;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 180%;
}
.hobby-list {
	color: #fff;
	padding-left: 0px;
	margin-left: 17px;
}
.hobby-item {
	color: orange;
}
.hobby-txt {
	color: #fff;
	padding-left: 0px;
	margin-left: 17px;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	line-height: 180%;
}
/* furniture */
.furniture-position {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	margin-bottom: 10px;
}
.image:hover {
	opacity: 0.5;
}
.furniture-img {
	width: 100%;
}
.btn {
	/* margin-top: 20px; */
	padding: 0px;
	border: 0px;
	height: 30px;
	width: 30px;
	color: #000000;
	cursor:pointer
}
.click {
	display: flex;
	display: inline;
	justify-content: flex-end;
}
.graphic-img {
	width: 100%;
}
/* Position */
.position {
	position: relative;
	width: 100%;
}
.box {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 30px;
	width: 30px;
}