/* Підключення шрифтів */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F7FA;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;  
}
/* main-content styles */
.main-content {
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 85px 90px;
}
/* abouth styles */
.abouth {
  margin-bottom: 20px;
}
.abouth-position {  
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}
.abouth-name {  
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;  
  color: black;
  margin-bottom: 25px;
}
.abouth-description {  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;  
  width: 500px;
  padding-left: 0px;
  margin-left: 17px;
}

.abouth-item {
  color:#8E949C;
}

.abouth-txt {
  color: black;  
}
/* project styles */
.projects {
  margin-bottom: 50px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.project-list {
  padding: 0;
  margin-left: 25px;
}
.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  color: black;
}
.project:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: red;
}
.project-link {
  margin-left: 10px;
  color: red;
}

/* work styles */
.work {
  margin-bottom: 40px;
}
.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;  
  color: red;
}
.period {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color:#8E949C;
  margin-bottom: 10px;
}
.work-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* education styles */
.education {}
/* sidebar styles */
.sidebar {
  background-color: #1E2939;
  margin: 40px;  
  width: 370px;
}
.photo {
  padding-top: 40px;
  padding-bottom: 10px;
  width: 370px;
}
.contacts,
.tech-skills,
.soft-skills
 {
  margin-left: 40px;
}
.contacts {
  margin-bottom: 50px;
}
.tech-skills {
  margin-bottom: 30px;
}
.sidebar-title {
  color:#fff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contact-type {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
  
}
.contact-link {
  color: #8E949C;
}
.skills-list {
  color: #fff;
  padding-left: 0px;
  margin-left: 17px;  
}
.skills-item {
  color: orange;
}
.skills-txt {
  color: #fff;
  padding-left: 0px;
  margin-left: 17px;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
}